<div class="container" ng-controller="createTrainingCoachCrtl">
    <div ng-hide="isCreatingTraining">


        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="intitule" type="text" class="validate" ng-model="newTraining.titre">
                        <label for="intitule">Intitulé de la Séance</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="lieu" type="text" class="validate white black-text" ng-model="newTraining.lieu">
                        <label for="lieu"></label>

                    </div>
                    <div class="input-field col s12">
                        <input id="date" type="text" class="datepicker" ng-model="newTraining.date_raw">
                        <label for="date">Date</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="hour_start" type="text" ng-class="{'invalid' : !checkHours()}"  ng-model="newTraining.heure_deb_raw"
                               input-clock data-twelvehour="false">
                        <label for="hour_start">Heure de début</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="hour_end" type="text" ng-class="{'invalid' : !checkHours()}"  ng-model="newTraining.heure_fin_raw"
                               input-clock data-twelvehour="false">
                        <label for="hour_end">Heure de fin </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea"
                                  ng-model="newTraining.description"></textarea>
                        <label for="textarea2">Description</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"
                                  ng-model="newTraining.objective"></textarea>
                        <label for="textarea1">Objectif</label>
                    </div>
                </div>


                <div class="row">
                    <div class="input-field col s12">
                        <select ng-model="newTraining.procede">
                            <option value="endurance">Endurance</option>
                            <option value="sv1">SV 1</option>
                            <option value="sv2">SV 2</option>
                            <option value="pma_vma">PMA/VMA</option>
                            <option value="lactique">Lactique</option>
                            <option value="endurance_vitesse">Endurance de vitesse</option>
                            <option value="vitesse">Vitesse</option>
                            <option value="technique">Technique</option>
                            <option value="rm_f_endurance">RM F Endurance</option>
                            <option value="rm_f_puissance">RM Puissance Force</option>
                            <option value="rm_puissance_vitesse">RM Puissance Vitesse</option>
                            <option value="rm_f_max">RM Force Max</option>
                            <option value="rm_f_explosive">RM Force Explosive</option>
                            <option value="autre_pe">Autre</option>
                        </select>
                        <label>Procédé d'entrainement</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select ng-model="newTraining.milieu">
                            <option value="eau_plate">Eau plate</option>
                            <option value="eau_vive_II">Eau vive Classe II</option>
                            <option value="eau_vive_III">Eau vive Classe III</option>
                            <option value="eau_vive_IV">Eau vive Classe IV</option>
                            <option value="autre_milieu">Autre</option>
                        </select>
                        <label>Milieu de pratique</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <select ng-model="newTraining.type">
                            <optgroup label="SPECIFIQUE">
                                <option value="slalom_sans_portes">Slalom sans porte</option>
                                <option value="slalom_avec_portes">Slalom avec portes</option>
                                <option value="bateau_directeur">Bateau directeur</option>
                                <option value="specifique_autre">Autre (...)</option>
                            </optgroup>
                            <optgroup label="CARDIO">
                                <option value="course">Course à pied</option>
                                <option value="velo">Vélo de route</option>
                                <option value="vtt">VTT</option>
                                <option value="ski_de_fond">Ski de fond</option>
                                <option value="natation">Natation</option>
                                <option value="sport_raquette">Sport raquette</option>
                                <option value="cardio_autre">Autre (...)</option>
                            </optgroup>
                            <optgroup label="RENFORCEMENT MUSCULAIRE">
                                <option value="rm_salle">RM salle</option>
                                <option value="rm_embarquee">RM embarquée</option>
                            </optgroup>
                            <optgroup label="COMPETITIONS ET TESTS">
                                <option value="slalom">Slalom (Situation de compétition, N1, World Cup / Championnat du
                                    monde, Championnat d'Europe)
                                </option>
                                <option value="test_terrain">Test terrain</option>
                                <option value="test_hrv">Test HRV</option>
                                <option value="rm_autre">Autre (...)</option>
                            </optgroup>
                            <optgroup label="SOINS">
                                <option value="kine_osteo">Kiné/Ostéo</option>
                                <option value="balneo">Balnéothérapie</option>
                                <option value="relaxation_yoga">Relaxation/Yoga</option>
                                <option value="chryotherapie">Chryothérapie</option>
                                <option value="etirements">Etirements</option>
                                <option value="soins_autre">Autre (...)</option>
                            </optgroup>
                            <optgroup label="STRATEGIE PROJET">
                                <option value="analyse_video">Analyse vidéo</option>
                                <option value="entretien">Entretien avec entraîneur</option>
                                <option value="gestion_conception">Gestion, conception entretien matos</option>
                                <option value="travail_projet_vie">Travail sur le projet de vie</option>
                                <option value="logistique">Logistique saison, course, actions</option>
                                <option value="strategie_autre">Autre (...)</option>
                            </optgroup>
                        </select>
                        <label>Moyen d'entrainement</label>
                    </div>
                </div>

            </form>
        </div>

        <!-- Sportmen List chips-->
        <div class="row">
            <div class="col s10">
                <div class="chip" ng-repeat="(i,s) in sportmen" ng-show="s.isSelected==true"
                     id="chip-sportman-{{s._id}}">
                    <img ng-src="{{s.profile.pictures.profile}}" alt="{{s.profile.name}} {{s.profile.surname}}">
                    {{s.profile.name}} {{s.profile.surname}}
                    <i class="material-icons" ng-click="removeChipSportman(i,s);$event.stopPropagation();">close</i>
                </div>
            </div>

            <div class="col s2">
                <i class="material-icons clickable" href="#addSportmen" modal>add</i>
            </div>
        </div>


        <div class="row">
            <a class="waves-effect waves-light btn btn-block    " ng-click="createNewTraining();"
               ng-class="{'blue white-text' : isOneSportmanSelected() , 'lighten-1 grey' :!isOneSportmanSelected()  }">Valider</a>
        </div>
        <div class="row">

            <a class="waves-effect waves-light btn btn-block grey lighten-1" ng-click="cancelCreation()">Annuler</a>
        </div>


        <!--Modal add sportmen-->
        <div id="addSportmen" class="modal">
            <div class="modal-content">
                <h4>Ajouter des sportifs</h4>


                <div class="row">
                    <div class="input-field col s12">
                        <input name="search" type="text" class="active" ng-model="searchSportman"/>
                        <label for="search" class="validate">Recherche</label>
                    </div>
                </div>
                <div class="row">

                    <ul class="collection">
                        <li class="collection-item avatar lighten-4 clickable"
                            ng-repeat="(index_sportman ,sportman) in sportmen | filter:searchSportman "
                            ng-click="clickOnSportman(index_sportman,sportman);"
                            ng-class="{'blue' : sportman.isSelected , 'grey' : !sportman.isSynced}"
                            id="sportman-{{sportman._id}}"
                        >
                            <img ng-src="{{sportman.profile.pictures.profile}}" alt="" class="circle">
                            <span class="title" ng-class="{'red-text' : !sportman.isSynced}">{{sportman.profile.name}} {{sportman.profile.surname}}</span>
                            <p>{{sportman.profile.email}}<br>
                            </p>
                            <a href="#!" class="secondary-content animated bounceIn"><i
                                    class="material-icons green-text"
                                    ng-show="sportman.isSynced">sync</i></a>
                            <a tooltipped
                               data-position="bottom" data-delay="50"
                               data-tooltip="Votre compte et le compte de {{sportman.profile.name}} {{sportman.profile.surname}} sont mal synchronisés sur Google Calendar"
                               href="#!"
                               class="secondary-content animated bounceIn">
                                <i class="material-icons red-text" ng-hide="sportman.isSynced">sync_problem</i>

                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">ok</a>
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
            </div>
        </div>


    </div>
    <!-- Section Sync gooogle calendar -->

    <div class="row animated fadeIn" ng-show="isCreatingTraining">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Google calendar</th>
                <th>Kanote</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="(email , c)  in accountsToSync">
                <td>{{c.name}} {{c.surname}}</td>
                <td>
                    <i class="material-icons green-text text-lighten-1 animated bounceIn"
                       ng-show="c.isSynced.calendar">sync</i>
                    <i class="material-icons red-text text-lighten-1 animated bounceIn" ng-show="!c.isSynced.calendar">sync_problem</i>

                </td>
                <td>
                    <i class="material-icons green-text text-lighten-1 animated bounceIn" ng-show="c.isSynced.kanote">sync</i>
                    <i class="material-icons red-text text-lighten-1 animated bounceIn" ng-show="!c.isSynced.kanote">sync_problem</i>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <a class="waves-effect waves-light btn animated bounceIn blue lighten-1 btn-block"
               ng-show="isTrainingCreated"
               ng-click="redirectToTrainingList();">ok</a>
            <div class="progress" ng-hide="isTrainingCreated">
                <div class="indeterminate"></div>
            </div>

        </div>
    </div>


</div>


<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
<script>

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 600,// Creates a dropdown of 15 years to control year,
        container: 'body',
        labelMonthNext: 'Mois suivant',
        labelMonthPrev: 'Mois précedent',
        labelMonthSelect: 'Selectionez un mois ',
        labelYearSelect: 'Selectionez une année',
        monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
        monthsShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jui', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Dec'],
        weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
        weekdaysLetter: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
        today: '<i class="material-icons">today</i>',
        clear: '<i class="material-icons">clear</i>',
        close: '<i class="material-icons">check</i>',
        format: 'dd/mm/yyyy'
    });
    $('select').material_select();


    // Google SHIT


    function initMap() {
        var input = /** @type {!HTMLInputElement} */(
                document.getElementById('lieu'));
        var autocomplete = new google.maps.places.Autocomplete(input);

    }
    initMap();


    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73214531-1', 'auto');
    ga('send', 'pageview');

</script>