<div class="container" ng-controller="coachAdminAccountCrtl">


    <div ng-show="isEditingProfilePicture">
        <div class="row">
            <div ng-hide="true">Select an image file: <input type="file" id="fileInput"/></div>

            <div class="center-align">
                <img id="image" height="500" ng-src="{{myImage}}" sb-load="imageLoaded();">
            </div>
        </div>


        <div class="row center-align animated bounceIn" ng-show="uploadReady">
            <a class="waves-effect waves-light btn grey black-text white-text text-darken-1"
               ng-click="cancelUploadImage();">Annuler</a>
            <a class="waves-effect waves-light btn blue lighten-1 white-text" ng-click="uploadImage();">Upload</a>
        </div>


        <div class="row center-align" ng-show="loadingImage">


            <div class="progress">
                <div class="indeterminate"></div>
            </div>

        </div>
    </div>
    <div ng-hide="isEditingProfilePicture">

        <!-- DEBUT PHOTO ET NOM PROFIL -->
        <div class="row center-align box-info">
            <div class="col s12">
                <img class="responsive-img circle profile-image magictime spaceInLeft" ng-src="{{me.pictures.profile}}"
                     ng-click="editProfilePicture();">
            </div>
            <div class="row">
                <h1 class="name">{{me.name}} {{me.surname}}</h1>
            </div>
        </div>
        <!-- FIN PHOTO ET NOM PROFIL -->
        <div class="row center-align">
            <a class="waves-effect waves-light btn animated fadeIn" ng-hide="modifying" ng-click="modifying=true"><i
                    class="material-icons left animated bounceIn">edit</i>Editer</a>
            <a class="waves-effect waves-light btn animated fadeIn " ng-show="modifying"
               ng-click="save()">Sauvegarder</a>
            <a class="waves-effect waves-light btn animated fadeIn " ng-show="modifying" ng-click="cancel()">Annuler</a>
        </div>
        <div class="row">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3 "><a href="#account">Compte kanote</a></li>
                    </ul>
                </div>
                <div id="account" class="col s12">

                    <div class="row">
                        <div class="col s2"><b>Prénom</b> :</div>
                        <div class="col s10 input-field">
                            <input ng-disabled="!modifying" type="text"
                                   ng-model="me.name" ng-change="modified.profile=true">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col s2"><b>Nom</b> :</div>
                        <div class="col s10 input-field">
                            <input ng-disabled="!modifying" type="text"
                                   ng-model="me.surname" ng-change="modified.profile=true">
                        </div>
                    </div>

                    <div class="row valign-wrapper">


                        <div class="col s2"><b>Email<span ng-hide="role == 'admin' ">(GMAIL)</span></b> :</div>


                        <div class="col s10 input-field">
                            <input ng-disabled="!modifying" type="text"
                                   ng-model="me.email" ng-change="modified.email=true">
                        </div>
                    </div>
                    <div class="row valign-wrapper">

                        <div class="col s2"><b>Mot de passe</b> :</div>

                        <div class="col s10 input-field">
                            <input ng-disabled="!modifying" ng-hide="modifying" id="disabled" type="password"
                                   class="validate" value="hahahahahah">
                            <input ng-disabled="!modifying" ng-show="modifying" id="disabled" type="password"
                                   class="validate" ng-model="password.old" ng-change="modified.password=true">
                            <input ng-disabled="!modifying" ng-show="modifying" id="disabled" type="password"
                                   class="validate" ng-model="password.new" ng-change="modified.password=true">

                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('ul.tabs').tabs();
    });
    $(document).ready(function () {
        Materialize.updateTextFields();
    });


</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73214531-1', 'auto');
    ga('send', 'pageview');

</script>